
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);


* {
    font-family: 'Montserrat';
}


body {
    margin: 0 auto;
}


header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 150px;
}

section.top-page {
    background: url('../images/bg.jpg');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}



.landing-page {
    position: relative;
    padding: 20px 50px;
}

.gros-titre {
    color: white;
    font-size:  120px;
    font-family: 'Montserrat', cursive;
   width: 60%;
}


nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 2000px;
    margin-left: 100px;
}

nav.nav li a {
    color: white;
    text-decoration: none;
}



.section-titre {
    font-size: 50px;
    font-family: 'Montserrat';
    position: relative;
}

.section-titre::before {
    content: "";
    position: 'Montserrat';
    height: 7px;
}

.presentation {
    margin: 100px;
}

section.cv {
    background: url('../images/capture.png');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

section.yt1 {
    background: url('../images/Captur1.png');
    background-size: cover;
    height: 60vh;
    padding: 15px;
}


section.yt2 {
    background: url('../images/Captur2.png');
    background-size: cover;
    height: 60vh;
    padding: 15px;
}

section.plan {
    background: url('../images/plan.png');
    background-size: cover;
    height: 5vh;
    padding: 30px;
}

section.yt {
    background: url('../images/yt.png');
    background-size: cover;
    height: 60vh;
    padding: 30px;
}

.texte-recap {
    font-weight: 500;
    font-size: xx-large;
}


.footer {

     margin: 10px;
}